@font-face{
    font-family: abril;
    src: url(../fonts/AbrilFatface-Regular.otf);
}

@font-face{
    font-family: latoB;
    src: url(../fonts/Lato-BoldItalic.ttf);
}

@font-face{
    font-family: lato;
    src: url(../fonts/Lato-Light.ttf);
}

body{
    height: 100vh;
    width: 100vw;
    padding-bottom: 17px;
    box-sizing: border-box;
    overflow: hidden;
}

footer{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-size: 0.9em;
    font-family: lato;
    font-weight: 600;
}

#nav{
    padding: 5px 0px;
    box-shadow: 0px 2px 8px 0px #cacaca;
    position: relative;
    z-index: 5;
}

#logo{
    background-image: url(/img/LG_logo_Blue_Vector.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 60px;
}

#links{
    height: 100%;
}

#links div{
    color: #468;
    font-size: 1.5em;
    text-align: center;
    padding: 8%;
    box-sizing: border-box;
}

#links div:hover{
    color: #47b;
    cursor: pointer;
}

#links div:hover > div[id="workplace"]{
    background-color: #47b;
}

#workplace{
    width: 25px;
    height: 25px;
    margin: auto;
    background-image: url(/img/workplace.jpg);
    background-size: cover;
    background-color: #468;
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-position: center;
}

.optiscroll-vtrack:hover {
    width: 7px;
    cursor: pointer;
}

.category{
    background-color: #fff;
    margin: 10px 0px;
}

#apps{
    height: 90%;
    margin: auto;
    overflow: hidden;
}

.app{
    min-height: 470px;
    margin-bottom: 17px;
}

.appsContainer{
    box-sizing: border-box;
    border-bottom: 1px dotted #555;
    margin-top: 30px;
}

.categoryLB{
    font-size: 2.1em;
    font-weight: 600;
    font-family: lato;
    color: #222;
}

.categoryLB > p{
    transform: translateX(5%);
    width: 50%;
}

.appFrame{
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 3px #666;
    background-color: #fff;
    transition: all 0.5s ease;
}

.appFrame:hover{
    box-shadow: 0px 0px 9px #666;
    transition: all 0.2s ease;
}

.appFrame2{
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
    overflow: hidden;
    box-shadow: 0px 0px 3px #666;
    background-color: #fff;
    transition: all 0.5s ease;
}

.appFrame2:hover{
    box-shadow: 0px 0px 9px #666;
    transition: all 0.2s ease;
}

.app .appImg{
    height: 40%;
    width: 100%;
    background-size: cover;
}

.appLink{
    position: relative;
    width: 100%;
    height: 10%;
    display: block;
    margin-bottom: 0px;
    font-size: 1.3em;
    font-family: latoB;
    color: #333;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}

.appLink:after{
    content: "";
    width: 80%;
    height: 1px;
    position: absolute;
    left: 10%;
    bottom: 0px;
    background-color: #666;
}

.appDesc{
    width: 100%;
    margin-bottom: 0px;
    padding: 5% 3%;
    font-size: 1.1em;
    font-family: lato;
    color: #444;
}

.appDesc2{
    margin-bottom: 0px;
    width: 100%;
    padding: 5% 3%;
    font-size: 1.1em;
    font-family: lato;
    color: #444;
}

.appLinkBtn{
    height: 10%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
}

.appLinkBtn > button{
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border: none;
    margin-bottom: 0px;
    height: 100%;
    width: 50%;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #47b;
    color: #eee;
    transition: all 0.3s ease;
}

button:nth-child(1):after{
    content: "";
    position: absolute;
    top: 10%;
    right: 50%;
    width: 1px;
    height: 80%;
    background-color: #555;
}